.footer {
  background-color: #222;
  color: #fff;
  padding: 3em;
  text-align: center;
}

.socialList {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.socialList li {
  margin: 0 1em;
}

.socialList li:hover {
  color: #ffbb33;
}

.socialList svg {
  cursor: pointer;
  font-size: 1.5em;
}

.copy_right {
  margin-top: 2em;
}

.copy_right span {
  color: #ffbb33;
  font-weight: bold;
}
